{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center" style="box-shadow: 10px 10px gray">
	<img src="{{url_for('static',filename='logo1.png')}}" class="img-rounded" height="150px" width="200px" alt="ss">
	<h3>Split.it keeps track of your gang’s expenses and IOUs – great for travellers, flatmates, couples and others. It shows who should pay next to keep the balance. It also calculates how you should settle at the end of the trip and minimizes the number of transfers. All expenses are backed up and synced across the group so each member can see them. This app will help you settle the debts and the emotions.</h2>
</div>
{% endblock %}